@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

#nav-bar {
  position: sticky;
  display: flex;
  background-color: white;
  max-width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 2em;
}

#categories {
  display: flex;
  justify-content: space-between;
  width: 10em;
}

#icons {
  display: flex;
  justify-content: space-around;
  width: 8em;
}

#nav-bar a {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 11px;
  text-decoration: none;
  position: relative;
}

#categories a:hover {
  color: black;
}

#categories a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5em;
  top: 3.7em;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#categories a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#header-img {
  max-width: 3em;
  height: auto;
}

#icons img {
  max-width: 1.4em;
  height: auto;

}

hr {
  margin: 0;
}

#carouselExampleControls p {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 1em;
  width: 1em;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '›';
  font-size: 2em;
  color: #C3C7CB;
}

.carousel-control-prev-icon:after {
  content: '‹';
  font-size: 2em;
  color: #C3C7CB;
  font-family: 'Montserrat', sans-serif;
}

.carousel-control-prev {
  padding-left: 22em;
  padding-bottom: 2em;
}

.carousel-control-next {
  padding-right: 22em;
  padding-bottom: 2em;
}

.carousel-inner {
  height: 54px;
}

.carousel-caption {
  color: #fff;
  top: 50%;
  max-width: 20em;
  margin: 0 auto;
}

.img-container {
  display: grid;
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.cover-text {
  display: block;
  height: 100%;
  color: white;
  position: absolute;
  margin-top: 16%;
  margin-left: -1em;
}

#collection-text {
  margin-top: 14%;
  text-align: left;
  margin-left: 4em;
}

#collection-text h1 {
  line-height: 0.9em;
}

#collection-text p {
  margin-top: 1.5em;
  margin-left: -5em;
}

#collection-text button {
  margin-left: 0;
}

.img-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3.2vw;
}

.img-container p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25vw;
  padding-left: 5em;
}

.img-container button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15vw;
  font-weight: 700;
  color: black;
  border: none;
  padding: 15px 30px;
  border-radius: 5rem;
  display: block;
  margin-left: 5em;
}

.img-container button:hover {
  cursor: pointer;
}

.cover-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.title {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  margin-top: -1em;
}

.collection-container {
  padding: 2em;
}

.title>p {
  color: #53565A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.9em;
}

.subtitle>h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
}

.subtitle>p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-decoration: underline;
}

.four-img-container {
  height: 105px;
  background-color: white;
  white-space: nowrap;
  width: 100%;
  display: table;
}

.items {
  vertical-align: middle;
  padding: 0.3em;
  display: table-cell;
}

.items img {
  max-width: 100%;
}

.items>p {
  font-family: 'Roboto', sans-serif;
  color: #999999;
  text-align: center;
  font-size: 0.7em;
  margin-bottom: 0;
  line-height: 2em;
}

.blk {
  color: black !important;
  margin-top: 1em;
}

/* FIX THIS SHIT!!!!! */

.two-img-container {
  margin: 0 1.5em;
  display: flex;
  height: 100%;
  position: relative;
  text-align: justify;
  color: black;
  margin-bottom: 1.5em;
}

.shop-text {
  display: block;
  height: 100%;
  color: black;
  position: absolute;
  margin-top: -22%;
}

.two-img-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: black;
  font-size: 2.5vw;
  margin-left: 1em;
  line-height: 1em;
}

.two-img-container button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  font-weight: 700;
  color: white;
  background-color: black;
  border: none;
  padding: 12px 30px;
  border-radius: 5rem;
  display: block;
  margin-top: 1.5em;
  margin-left: 2.5em;
}

#shop-men h1 {
  margin-left: 15em;
}

#shop-men button {
  margin-left: 35.5em;
}

#more-container {
  background-color: #ECECEC;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding: 1.5em;
  text-align: center;
}

.shop-text h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.5vw;
  margin-left: 1em;
  line-height: 1em;
}

.more-text button {
  color: black;
  background-color: white;
  margin-left: 4em;
}

.more-text {
  margin-top: -14%;
  margin-left: 14%
}

#app {
  margin-top: -15%;
}

#thick {
  position: relative;
  border: none;
  height: 0.05em;
  background: #BBBCBC;
}

#about-container {
  background-color: #F5F5F5;
  padding: 1.8em;
}

#about-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  padding-bottom: 0.6em;
}

#about-container p {
  font-family: 'Roboto', sans-serif;
  color: #444;
}

#signup-container {
  background-color: black;
  display: flex;
  height: 100%;
  padding: 2.5em;
  justify-content: space-evenly;
  align-items: center;
}

#signup-container p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 0.95em;
  margin-left: 2.2em;
}

#signup-container button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  color: black;
  background-color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 5rem;
  margin-left: -16em;
}

#signup-container button:hover {
  cursor: pointer;
}

@media (max-width: 575.98px) {
  body {
    background-color: blue;
  }
}