@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

#nav-bar {
  position: sticky;
  display: flex;
  background-color: white;
  max-width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 2em;
}

#categories {
  display: flex;
  justify-content: space-between;
  width: 10em;
}

#icons {
  display: flex;
  justify-content: space-around;
  width: 8em;
}

#nav-bar a {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 11px;
  text-decoration: none;
  position: relative;
}

#nav-bar a:hover {
  color: black;
}

#nav-bar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.5em;
  top: 3.7em;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#nav-bar a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#header-img {
  max-width: 3em;
  height: auto;
}

#icons img {
  max-width: 1.4em;
  height: auto;

}

hr {
  margin: 0;
}

#carouselExampleControls p {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 1em;
  width: 1em;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '›';
  font-size: 2em;
  color: #C3C7CB;
}

.carousel-control-prev-icon:after {
  content: '‹';
  font-size: 2em;
  color: #C3C7CB;
  font-family: 'Montserrat', sans-serif;
}

.carousel-control-prev {
  padding-left: 22em;
  padding-bottom: 2em;
}

.carousel-control-next {
  padding-right: 22em;
  padding-bottom: 2em;
}

.carousel-inner {
  height: 54px;
}

.carousel-caption {
  color: #fff;
  top: 50%;
  max-width: 20em;
  margin: 0 auto;
}

#img-container {
  display: grid;
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
}

#img-container h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  position: absolute;
  bottom: 6.5em;
  left: 1.5em;
}

#img-container p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  position: absolute;
  top: 17em;
  left: 3.8em;
}

#img-container button {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  color: black;
  border: none;
  padding: 15px 30px;
  border-radius: 5rem;
  display: block;
  position: absolute;
  top: 3em;
}

#img-container button:hover {
  cursor: pointer;
}

#cover-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}


@media (max-width: 575.98px) {
  body {
    background-color: blue;
  }
}